.carrito-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Espacio entre productos */
  padding: 10px;
  /* Quita el ancho fijo aquí */
}

.producto {
  border: 1px solid #ccc;
  padding: 10px;
  width: 190px; /* Tamaño fijo para cada producto */
  box-sizing: border-box;
  border-radius: 6px;
  background: #f9f9f9;
}

.producto img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}


button {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}
button.active{
    background-color: grey;
    color: black;
    border-radius: 20px;
}